.recent-projects-wrapper {
  @extend .about-wrapper;
}

.projects-content-container {
  padding: 1rem;

  .main-navigation {
    .nav-item {
      padding: .5rem;
      a {
        color: $lightGrey;
        padding: .5rem;
      }
      &:nth-of-type(2) {
        background: $lime;
        border-radius: 2rem;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.project-item {
  margin-bottom: 2rem;
  padding: 1rem;

  &:nth-of-type(odd) {
    background: $midnight;
  }
  &:nth-of-type(even) {
    background: $lightGrey;
    color: $medGrey;
  }

  .project-name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.project-link-container {
  position: relative;

  img {
    display: block;
  }

  &:hover {
    .github-overlay {
      opacity: 1;
      transition: all .5s;
    }
  }
}

.github-overlay {
  background: rgba(153, 205, 63, .5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;

  a {
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
    height: 100%;
    justify-content: center;
    width: 100%;

    span {
      font-weight: 200;
    }

    @include bp(small) {
      font-size: 5rem;
    }
  }
}

.project-description-container {
  margin-top: 1rem;
  .project-description {
    margin-bottom: 1rem;
    &:first-of-type {
      text-indent: 1.5rem;
    }
  }
}
