.landing-content-container .self-info-container {
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .self-name {
    font-size: 2.5rem;
    @include bp(large) {
      font-size: 3.5rem;
    }
  }
  .self-title {
    color: $lime;
    font-size: 1.5rem;
    @include bp(large) {
      font-size: 2rem;
    }
  }
  .self-portrait-container {
    border: 4px solid $lightGrey;
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
    margin-top: 1rem;
    width: 150px;

    @include bp(large) {
      height: 200px;
      width: 200px;
    }
  }
}
