.web-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
circle {
  transition: all .75s;
}

circle {
  cursor: pointer;
  z-index: 1;
}

path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawPath 5s linear infinite;
  z-index: 0;
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}
